* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9f8f4;
  line-height: 1.15;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 42px !important;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 80px !important;
  }
}

.mainbox {
  display: flex;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.125rem 0.1875rem 0;
}

.mainbox .column {
  flex: 2;
}

